@{
    Layout = "_Layout";
}

@model ToDoList.Models.Category;

<h1>Edit @Html.DisplayFor(model => model.Name)</h1>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CategoryId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    <input type="submit" value="Save" />
}
<button class="btn btn-dark">@Html.ActionLink("Back to categories", "Index")</button>
<button class="btn btn-dark">@Html.ActionLink("Back to details", "Details", new { id = Model.CategoryId })

